AdvancedServer/ClientTCP/.vscode/
AdvancedServer/ClientTCP/client.sln
AdvancedServer/ClientTCP/client/bin/
AdvancedServer/ClientTCP/client/obj/

AdvancedServer/ServerTCP/.vscode/
AdvancedServer/ServerTCP/server.sln
AdvancedServer/ServerTCP/server/bin/
AdvancedServer/ServerTCP/server/obj/

#----------------------------------------#
ProtocolServer/ClientTCP/.vscode/
ProtocolServer/ClientTCP/client.sln
ProtocolServer/ClientTCP/client/bin/
ProtocolServer/ClientTCP/client/obj/

ProtocolServer/ServerTCP/.vscode/
ProtocolServer/ServerTCP/server.sln
ProtocolServer/ServerTCP/server/bin/
ProtocolServer/ServerTCP/server/obj/

#----------------------------------------#
ClientServerEcho/client/.vscode/
ClientServerEcho/client/client.sln
ClientServerEcho/client/client/bin/
ClientServerEcho/client/client/obj/

ClientServerEcho/server/.vscode/
ClientServerEcho/server/server.sln
ClientServerEcho/server/server/bin/
ClientServerEcho/server/server/obj/

#----------------------------------------#
IntroductionToWinsock/.vscode/
IntroductionToWinsock/bin/
IntroductionToWinsock/obj/
IntroductionToWinsock/IntroductionToWinsock.csproj
IntroductionToWinsock/IntroductionToWinsock.sln